{% extends "base.html" %}

{% load static %}

{% block title %}
    {{ project.name }}
{% endblock %}

{% block sidebar_left %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ project.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ project.owner }}</h6>
        <p class="card-text">{{ project.description }}</p>
        <p><a href="{% url 'github_integration:repository' id=project.repository.id %}" class="card-link">Repository</a></p>
        {% if is_owner %}
            <p><a href="{{ request.path }}/settings" class="card-link">Settings</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block main %}
    <h3>My Tasks</h3>
    {% include 'core/includes/tasks.html' %}
{% endblock %}

{% block sidebar_right %}
{% endblock %}

{% block extrajs %}
    <script type="module" src="{% static 'js/core/projects/refresh_user_tasks.js' %}"></script>
{% endblock %}