{% extends "base.html" %}

{% block title %}
    Profile
{% endblock %}

{% block sidebar_left %}
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{% url 'core:projects' %}">My Projects</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'github_integration:repositories' %}">My Repositories</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'github_integration:github_repositories' %}">My GitHub Repositories</a>
        </li>
    </ul>
{% endblock %}


{% block main %}
    <h1>Your Profile</h1>
    {% if github_token_valid %}
        <h3>Your github token is valid</h3>
    {% else %}
        <h3>Please, add github token</h3>
        <a href="{% url 'github_integration:create_github_token' %}" class="btn btn-primary">Login in GitHub</a>
    {% endif %}
{% endblock %}
