{% extends "base.html" %}

{% block title %}
    {{ source }} Repositories
{% endblock %}

{% block main %}
    <h4>
        Your {{ source }} repositories
        <ul>
            {% for repo in repositories %}
                <div class="card mt-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ repo.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ repo.id }}</h6>
                        <p class="card-text">{{ repo.description }}</p>
                        <a href="{{ repo.url }}" class="card-link">View on GitHub</a>
                        <button class="btn btn-success add" id="{{ repo.name }}">Add to your account</button>
                     </div>
                </div>
            {% endfor %}
        </ul>
    </h4>
{% endblock %}

{% block extrajs %}
    <script>
        jQuery(document).on('click', '.add', function(e) {
            var jq = jQuery.noConflict()
            var repository = e.target.id

            jQuery.ajax ({
                type: 'POST',
                url: "{% url 'github_integration:add_repository' %}",
                data: {
                    repository: repository,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    alert(response['message'])
                }
            })
        })
    </script>
{% endblock %}